---
import BaseHead from '../../../components/BaseHead.astro';
import Footer from '../../../components/Footer.astro';
import { getAllPosts } from '../../../lib/api';
import { Post } from '../../../types';

export async function getStaticPaths() {
  const allPosts = await getAllPosts();
  return allPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props as { post: Post };
---

<html lang='en'>
  <head>
    <BaseHead />
  </head>
  <body class='flex flex-col min-h-screen'>
    <header class='p-8 border-b flex justify-start items-center'>
      <h1 class='text-2xl bold'>{post.title}</h1>
    </header>
    <main class='grow'>
      <div class='p-12' set:html={post.content}></div>
    </main>
    <Footer />
  </body>
</html>
