---
import Chrome from '../components/Chrome.astro';
---

<Chrome page='/about'>
  <div class='py-10 px-5 sm:px-10 md:px-20'>
    <h1 class='text-3xl font-lato text-white text-opacity-70'>About this blog</h1>
    <p class='mt-5 text-xl text-white text-opacity-60'>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus nihil
      consectetur ratione id illum molestiae beatae odit rerum, unde, illo repellendus
      dignissimos nam mollitia omnis vero, fuga sint tempora exercitationem. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Architecto beatae facilis blanditiis!
      Voluptatem fugit fuga repellat, est similique rerum deleniti tempora. Dicta officiis
      cumque, dolorem autem vel error natus saepe? Lorem, ipsum dolor sit amet consectetur
      adipisicing elit. Sint est eveniet quam illum laudantium non odit in! Ipsam maiores
      expedita incidunt aliquam velit laboriosam sed, nulla quis eum sit excepturi? Lorem
      ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis culpa debitis
      exercitationem corporis eius, natus rem eveniet quo delectus, expedita, sunt qui
      minima consectetur. Aliquam fuga ducimus commodi sint temporibus. Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Laborum sit neque consequuntur officia dolor
      nobis, nulla quas, esse ratione ex sint quam totam incidunt harum autem laboriosam
      in. Suscipit, praesentium!
    </p>
    <p class='mt-5 text-xl text-white text-opacity-60'>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus nihil
      consectetur ratione id illum molestiae beatae odit rerum, unde, illo repellendus
      dignissimos nam mollitia omnis vero, fuga sint tempora exercitationem. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Architecto beatae facilis blanditiis!
      Voluptatem fugit fuga repellat, est similique rerum deleniti tempora. Dicta officiis
      cumque, dolorem autem vel error natus saepe? Lorem, ipsum dolor sit amet consectetur
      adipisicing elit. Sint est eveniet quam illum laudantium non odit in! Ipsam maiores
      expedita incidunt aliquam velit laboriosam sed, nulla quis eum sit excepturi? Lorem
      ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis culpa debitis
      exercitationem corporis eius, natus rem eveniet quo delectus, expedita, sunt qui
      minima consectetur. Aliquam fuga ducimus commodi sint temporibus. Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Laborum sit neque consequuntur officia dolor
      nobis, nulla quas, esse ratione ex sint quam totam incidunt harum autem laboriosam
      in. Suscipit, praesentium!
    </p>
    <p class='mt-5 text-xl text-white text-opacity-60'>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus nihil
      consectetur ratione id illum molestiae beatae odit rerum, unde, illo repellendus
      dignissimos nam mollitia omnis vero, fuga sint tempora exercitationem. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Architecto beatae facilis blanditiis!
      Voluptatem fugit fuga repellat, est similique rerum deleniti tempora. Dicta officiis
      cumque, dolorem autem vel error natus saepe? Lorem, ipsum dolor sit amet consectetur
      adipisicing elit. Sint est eveniet quam illum laudantium non odit in! Ipsam maiores
      expedita incidunt aliquam velit laboriosam sed, nulla quis eum sit excepturi? Lorem
      ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis culpa debitis
      exercitationem corporis eius, natus rem eveniet quo delectus, expedita, sunt qui
      minima consectetur. Aliquam fuga ducimus commodi sint temporibus. Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Laborum sit neque consequuntur officia dolor
      nobis, nulla quas, esse ratione ex sint quam totam incidunt harum autem laboriosam
      in. Suscipit, praesentium!
    </p>
    <p class='mt-5 text-xl text-white text-opacity-60'>
      ~ Jason Henderson - July 31, 2022
    </p>
  </div>
</Chrome>
