---
import Chrome from '../components/Chrome.astro';
---

<Chrome page='/acerca-de-mi'>
  <div class='py-10 px-5 sm:px-10 md:px-20'>
    <h1 class='text-3xl font-lato text-white text-opacity-70'>Acerca de mí</h1>
    <p class='mt-5 text-xl text-white text-opacity-60'>
      No tengo mucho que decir acerca de mí, pero comprendo que algunos de los
      que llegan a este sitio, para su propia tranquilidad, pueden desear
      conocer algo acerca del autor. A éstos entonces déjenme decirles: Soy un
      Cristiano, un sincero creyente en Jesucristo, que desea con todo su
      corazón caminar en el camino nuevo y vivo que Él ha abierto para los
      redimidos. Mi honesto deseo y única aspiración es amar al Señor mi Dios
      con todo mi corazón, alma, mente y fuerza; honrarlo mediante la perfecta
      entrega de mi voluntad, temerle como el Juez de todo los vivos, buscarlo
      por medio de una incesante oración del corazón, conocerlo por la
      revelación y formación de Su vida en mí, servirle a través de la operación
      de Su gracia y agradarlo ofreciéndole el incremento de Su propia semilla
      celestial.
    </p>
    <p class='mt-5 text-xl text-white text-opacity-60'>
      No tengo credenciales, títulos, conexiones, prestigio, coberturas o
      historias de éxito que ofrecer para su consideración, y nunca recomendaría
      mis escritos basándome en tales cosas. Sólo puedo decir, que por la
      misericordia de Dios, y en respuesta a una gran ansiedad y desesperación,
      un día comencé a ver, más allá de la cáscara de la religión, una medida de
      la semilla viva, y encontré y sentí que toda la religión en el mundo es
      como una hoja que se marchita cuando carece de la vida pura y poder vivo
      de Dios que salva del pecado, transforma el alma y lleva a la unión con
      Él. Esto es todo lo que quiero compartir—mi pequeña medida de Su luz y
      vida—para el aliento y comunión de aquellos que pueden sentir algo detrás
      de las palabras. No estoy buscando que me den un “me gusta” o que se
      suscriban; no tengo motivos monetarios y les tengo una gran aversión a los
      debates teológicos. Mi único objetivo y esperanza es que al compartir
      estas cosas, algunos de ustedes experimenten el movimiento de la vida de
      Cristo en sus corazones, el resplandor de Su luz sobre el antiguo Camino
      de Santidad, y que encuentran una disposición forjada en sus corazones de
      seguirlo a Él más plenamente en el camino estrecho (y cada vez más
      impopular) de la cruz.
    </p>
    <p class='mt-5 text-xl text-white text-opacity-60'>
      Estoy casado, tengo cuatro hijos y vivo en Ohio, Estados Unidos; donde
      estoy muy involucrado en una pequeña iglesia local.
    </p>
    <p class='mt-5 text-lg italic text-right text-white/40'>
      &ndash; Jason Henderson, agosto 2022
    </p>
  </div>
</Chrome>
