---
import Chrome from '../components/Chrome.astro';
---

<Chrome page='/contact' smallFooter>
  <div class='flex justify-center items-center py-12 px-6 sm:px-12 flex-grow'>
    <div class='absolute w-full h-112 bg-sky-100 z-0'></div>
    <div class='absolute w-full h-96 bg-sky-400 z-0'></div>
    <form
      class='border-[0.5px] rounded-2xl shadow-xl py-8 px-6 sm:px-8 max-w-xl bg-white relative'
    >
      <h2 class='text-2xl font-inter text-center sm:text-left'>Contact me</h2>
      <p class='text-black text-opacity-50 mt-2 text-center sm:text-left'>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate provident
        cupiditate maiores praesentium iste dolorem.
      </p>
      <div class='flex flex-col mt-8'>
        <div class='flex flex-col mb-8 space-y-2'>
          <label class='text-gray-600 font-medium'>Email</label>
          <input
            class='outline-none border py-3 px-4 rounded-lg focus:border-sky-300 transition duration-100 shadow'
            placeholder='me@example.com'
          />
        </div>
        <div class='flex flex-col space-y-2'>
          <label class='text-gray-600 font-medium'>Message</label>
          <textarea
            class='outline-none border py-3 px-4 rounded-lg focus:border-sky-300 transition duration-100 shadow'
            rows={5}
            placeholder='Questions, comments, or concerns'></textarea>
        </div>
      </div>
      <div class='flex justify-end mt-8'>
        <button
          class='flex justify-center items-center bg-sky-500 text-white rounded-lg shadow-md py-2 px-5 font-medium text-lg hover:bg-sky-400 transition duration-100 active:shadow-sm active:scale-95 active:translate-y-0.5 hover:-translate-y-0.5 flex-grow xs:flex-grow-0'
          type='submit'
        >
          <i class='fa-solid fa-arrow-right mr-3'></i>
          Submit
        </button>
      </div>
    </form>
  </div>
</Chrome>
