---
import BaseHead from '../components/BaseHead.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import NewestBlogPostPreview from '../components/NewestBlogPostPreview.astro';
import Footer from '../components/Footer.astro';
import Chrome from '../components/Chrome.astro';
import { getAllPosts } from '../lib/api';
import '../styles/sidebar.css';

const allPosts = await getAllPosts();
---

<Chrome page='/'>
  <div class='lg:p-10 lg:py-10 py-6 md:px-6 p-0 space-y-8'>
    {allPosts.map((post, index) =>
      !index ? (
        <NewestBlogPostPreview post={post} />
      ) : (
        <BlogPostPreview post={post} />
      )
    )}
  </div>
</Chrome>
