---
import Chrome from '../components/Chrome.astro';
---

<Chrome page='/podcast'>
  <div class='py-10 px-5 sm:px-10 md:px-20'>
    <h1 class='text-3xl font-lato text-white text-opacity-70'>
      Podcast Links (English)
    </h1>
    <p class='mt-5 text-xl text-white text-opacity-60'>
      To subscribe to a podcast of the audio versions of posts from this blog,
      click one of the links below:
    </p>
    <div
      class='text-white/80 uppercase tracking-wider my-8 flex pl-8 sm:pl-0 flex-col sm:flex-row space-y-6 sm:space-y-0 sm:space-x-6 antialiased font-bold'
    >
      <a
        href='https://podcasts.apple.com/us/podcast/hender-blog/id1645365966'
        style='background-image: url(/apple-podcasts.webp)'
        title='Subscribe on Apple'
        class='pl-8 bg-no-repeat bg-left bg-contain'
        >Apple
      </a>

      <a
        href='https://overcast.fm/itunes1645365966'
        style='background-image: url(/overcast.webp)'
        title='Subscribe on Apple'
        class='pl-8 bg-no-repeat bg-left bg-contain'
        >Overcast
      </a>

      <a
        href='https://open.spotify.com/show/3JDQmzp0D4FNXeE7NC5D5S'
        style='background-image: url(/spotify.webp)'
        title='Subscribe on Apple'
        class='pl-8 bg-no-repeat bg-left bg-contain'
        >Spotify
      </a>

      <a
        href='https://www.subscribeonandroid.com/hender.blog/podcast.en.rss'
        style='background-image: url(/android.webp)'
        title='Subscribe on Apple'
        class='pl-8 bg-no-repeat bg-left bg-contain'
        >Android
      </a>

      <a
        href='#'
        style='background-image: url(/rss.webp)'
        title='Subscribe on Apple'
        class='pl-8 bg-no-repeat bg-left bg-contain'
        onclick='navigator.clipboard.writeText("http://hender.blog/podcast.en.rss").then(() => alert("The podcast URL was copied to your clipboard. Open your podcast app of choice and paste it in. You may need to search for an advanced option that allows you to \\"Add a show by URL\\"."))'
        >RSS
      </a>
    </div>
    <h1 class='text-3xl font-lato text-white text-opacity-70 mt-16'>
      Enlaces al Podcast (Español)
    </h1>
    <p class='mt-5 text-xl text-white text-opacity-60'></p><p
      class='mt-5 text-xl text-white text-opacity-60'
    >
      Para suscribirte a un podcast de los audios de las publicaciones de este
      blog, haz clic en uno de los enlaces siguientes:
    </p>
    <div
      class='text-white/80 uppercase tracking-wider my-8 flex pl-8 sm:pl-0 flex-col sm:flex-row space-y-6 sm:space-y-0 sm:space-x-6 antialiased font-bold'
    >
      <a
        href='https://podcasts.apple.com/us/podcast/hender-blog/id1645366119'
        style='background-image: url(/apple-podcasts.webp)'
        class='pl-8 bg-no-repeat bg-left bg-contain'
        >Apple
      </a>

      <a
        href='https://overcast.fm/itunes1645366119'
        style='background-image: url(/overcast.webp)'
        class='pl-8 bg-no-repeat bg-left bg-contain'
        >Overcast
      </a>

      <a
        href='https://open.spotify.com/show/3T32aJ757tMg2kyzG2kANh'
        style='background-image: url(/spotify.webp)'
        class='pl-8 bg-no-repeat bg-left bg-contain'
        >Spotify
      </a>

      <a
        href='https://www.subscribeonandroid.com/hender.blog/podcast.es.rss'
        style='background-image: url(/android.webp)'
        class='pl-8 bg-no-repeat bg-left bg-contain'
        >Android
      </a>

      <a
        href='#'
        style='background-image: url(/rss.webp)'
        class='pl-8 bg-no-repeat bg-left bg-contain'
        onclick='navigator.clipboard.writeText("http://hender.blog/podcast.es.rss").then(() => alert("El enlace del podcast se ha copiado en el portapapeles. Abre tu aplicación de podcast y pégalo. Puede que tengas que buscar una opción avanzada que te permita “Añadir un programa por URL”."))'
        >RSS
      </a>
    </div>
  </div>
</Chrome>
