---
import BaseHead from '../../../components/BaseHead.astro';
import { getAllPosts } from '../../../lib/api';
import { Post } from '../../../types';
import '../../../styles/post-content.css';

export async function getStaticPaths() {
  const allPosts = await getAllPosts();
  return allPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props as { post: Post };
---

<html lang='en'>
  <head>
    <BaseHead />
  </head>
  <body class='flex flex-col min-h-screen'>
    <header
      class='px-8 py-4 flex justify-start items-center bg-gray-900 bg-gradient-to-br from-transparent via-transparent to-indigo-700/30'
    >
      <a
        class='text-white text-opacity-50 mr-8 w-10 h-10 flex justify-center items-center bg-white rounded-full bg-opacity-0 hover:bg-opacity-10 transition duration-100 text-xl cursor-pointer'
        href='/'
      >
        <i class='fas fa-chevron-left'></i>
      </a>
      <h1 class='text-2xl font-medium text-white text-opacity-70'>{post.title}</h1>
    </header>
    <main class='grow'>
      <!-- <div
        class='p-12'
        set:html={post.content.replace(/name=/g, 'id=').replace(/align="\w+"/g, '')}
      > -->
      <div class='py-12 px-8 sm:px-12 prose'>
        <h2>Striving and Diligence</h2>
        <p>
          When I first experienced the Lord&rsquo;s powerful hand moving in my heart,
          lifting me out of great trouble and confusion, and turning my heart to Him, I
          was so convinced of His existence, and so deeply appreciative of His love, that
          I dedicated myself to serve Him with uncompromising zeal and discipline. For the
          next seven years I did everything I could think of to know Him and please Him. I
          prayed and fasted, studied Scripture and many Christian books, took Bible
          classes, led worship, taught Bible studies, preached in jails, fed homeless
          people and took them into my house, etc. And at the end of these years I was
          greatly humbled and confused to find that my heart felt largely unchanged. I had
          learned much, and done much, but I had grown very little, and was confused and
          frightened by seeing that my heart was still so filled with pride and
          selfishness, and that there was still a very conspicuous LACK of Christ&rsquo;s
          life, light, and love.
        </p>
        <p>
          In response to many desperate pleas for help, the Lord then began to open my
          eyes to the true nature of the gospel, showing me that it was a work of God in
          the soul, and not a work of man. I began to see that man could not please God in
          the flesh, nor produce any of the fruits of His Spirit. I saw that Christianity
          did not consist of rightly defined doctrines with rightly directed activities
          and prayers, but was the very indwelling power of Christ, actively living and
          working in man to expose and put off his entire fallen nature, and to bring
          forth the birth, growth, and reign of His spiritual kingdom in the soul. Seeing
          and feeling these things to be true, I quickly began to understand why my years
          of discipline and striving had produced so little fruit. And I was
          tempted&mdash;and I must confess also deceived for a time&mdash;to disregard or
          even reject the idea that there is a place for human effort, diligence, and
          discipline in the Christian life.&nbsp;
        </p>
        <p>
          Though I have no doubt that it was the Lord who began to open my eyes to see the
          inward nature and power of the gospel, I did what many people do when the Lord,
          in some measure, corrects their mistakes. I ran out of one error&hellip; right
          into another. A measure of His light had exposed a great misunderstanding. But
          instead of staying behind that light, and carefully and humbly watching how it
          would lead and teach me, I ran ahead of it, into a false belief that there was
          little or no place for striving, diligence, or self-discipline in the new
          covenant.&nbsp;
        </p>
        <p>
          Looking back, I recognize this response to be something like a fleshly knee-jerk
          reaction to a heavenly correction, and the main thing that I didn&rsquo;t
          understand at that time was that <strong
            >there is a great difference between a diligence or striving to
            carefully&nbsp;
          </strong><strong>submit&nbsp;</strong><strong>to</strong><strong
            >&nbsp;and cooperate with the work of&nbsp;
          </strong><strong>God</strong><strong
            >, and a striving to produce a work of&nbsp;
          </strong><strong>my</strong><strong>&nbsp;own.</strong>This is very similar to
          the error that many Jews were found in in the days of the early church. Paul
          says of them, &ldquo;For I bear them witness that they have a zeal for God, but
          not according to knowledge. For they being ignorant of God&rsquo;s
          righteousness, and <em
            >seeking to establish their own righteousness, have not submitted to the
            righteousness of God.
          </em>&rdquo; &nbsp;Now, it is entirely true that Christianity is Christ Himself
          living in man, and that the great work of God is carried on in the heart by the
          operation of His power, the birth of His Spirit, and the formation of His nature
          (righteousness) in man. All of this is a work of grace, and not a work of man,
          or a work of the law. And yet it is equally true that when Christians continue
          to live in the flesh, according to their selfish will and natural mind, then
          their life (with all of its perspectives, desires, and pursuits) amounts to a
          continual resisting, quenching, and grieving of the Spirit of God, where they
          experience little or nothing of His transforming power. &ldquo;For if you live
          according to the flesh you will die; but if by the Spirit you put to death the
          deeds of the body, you will live.&rdquo;<a
            href='#sdfootnote1sym'
            id='sdfootnote1anc'
            ><sup>1</sup>
          </a>
        </p>
        <p>
          Jesus told us to &ldquo;<em>strive</em> to enter the narrow gate;&rdquo;<a
            href='#sdfootnote2sym'
            id='sdfootnote2anc'
            ><sup>2</sup>
          </a>Peter tells us to &ldquo;<em>be diligent</em> to be found in Him without spot
          and blameless.&rdquo;<a href='#sdfootnote3sym' id='sdfootnote3anc'
            ><sup>3</sup>
          </a>The author of Hebrews insists that we should &ldquo;<em>be diligent</em> to enter
          into our rest,&rdquo;<a href='#sdfootnote4sym' id='sdfootnote4anc'
            ><sup>4</sup>
          </a>and encourages his readers saying, &ldquo;you have not yet resisted to
          bloodshed in your <em>striving against sin</em>.&rdquo;<a
            href='#sdfootnote5sym'
            id='sdfootnote5anc'
            ><sup>5</sup>
          </a>Paul is frequently commending believers in his epistles for their diligence
          and discipline,<a href='#sdfootnote6sym' id='sdfootnote6anc'><sup>6</sup></a>and
          describing his own walk with Christ with words like: &ldquo;I <em
            >strive&nbsp;
          </em>to have a conscience without offense towards God and men,&rdquo;<a
            href='#sdfootnote7sym'
            id='sdfootnote7anc'
            ><sup>7</sup>
          </a>&ldquo;I discipline my body and bring it into subjection,&rdquo;<a
            href='#sdfootnote8sym'
            id='sdfootnote8anc'
            ><sup>8</sup>
          </a>and &ldquo;I labor in birth again until Christ is formed in you.&rdquo;<a
            href='#sdfootnote9sym'
            id='sdfootnote9anc'
            ><sup>9</sup>
          </a>In fact, the whole reality of &nbsp;&ldquo;denying ourselves and taking up
          our cross daily&rdquo;<a href='#sdfootnote10sym' id='sdfootnote10anc'
            ><sup>10</sup>
          </a>clearly implies a need for both watchfulness and diligence, and so does
          every other command, caution, and instruction in the New Testament.&nbsp;
        </p>
        <p>
          But in every one of the above-mentioned verses, the striving, carefulness, and
          effort involved on our part is never to <em>produce&nbsp;</em>life, light,
          righteousness, or spiritual growth, but rather (as Paul said concerning the
          Jews), <strong
            >to diligently submit to that which comes from God and works by His power, and
          </strong><strong>&nbsp;to&nbsp;</strong><strong>carefully&nbsp;</strong><strong
            >live in such a way that our lives in the body, and&nbsp;
          </strong><strong>our&nbsp;</strong><strong
            >time in this world, do not wage war against&nbsp;
          </strong><strong>His purpose for our souls</strong>.
          <a href='#sdfootnote11sym' id='sdfootnote11anc'><sup>11</sup></a>Stephen told
          the Jews, &ldquo;You stiff-necked and uncircumcised in heart and ears! You
          always resist the Holy Spirit; as your fathers did, so do you.&rdquo;<a
            href='#sdfootnote12sym'
            id='sdfootnote12anc'
            ><sup>12</sup>
          </a>By their response to Stephen we see they didn&rsquo;t agree; and neither do
          we. But WE ALL do this very easily and naturally (and usually unknowingly),
          simply by pursuing our life in the flesh, finding our treasure in this world,
          and &ldquo;setting our mind on earthly things.&rdquo;<a
            href='#sdfootnote13sym'
            id='sdfootnote13anc'
            ><sup>13</sup>
          </a>&ldquo;The carnal mind IS enmity with God;&rdquo;<a
            href='#sdfootnote14sym'
            id='sdfootnote14anc'
            ><sup>14</sup>
          </a>this is not something it has to try to do. The first birth quite naturally
          and automatically &ldquo;makes provision for the flesh with regard to its
          lusts,&rdquo;<a href='#sdfootnote15sym' id='sdfootnote15anc'
            ><sup>15</sup>
          </a>and lives for &ldquo;the lust of our eyes, the lust of the flesh, and the
          pride of life.&rdquo;<a href='#sdfootnote16sym' id='sdfootnote16anc'
            ><sup>16</sup>
          </a>In this way, man is very often feeding, protecting, and empowering the very
          fallen nature that God is seeking to put to death; and is likewise quenching,
          grieving, and &ldquo;crucifying again&rdquo;<a
            href='#sdfootnote17sym'
            id='sdfootnote17anc'
            ><sup>17</sup>
          </a>the Spirit of Christ that comes to save him. I say again, the carnal man
          does not have to TRY to do these things. He IS these things, just as much as he
          lives to himself, and walks in that flesh which always &ldquo;lusts against the
          Spirit.&rdquo;<a href='#sdfootnote18sym' id='sdfootnote18anc'><sup>18</sup></a>
        </p>
        <p>
          Therefore, Christian striving and diligence is always with an aim to protect the
          seed of the kingdom that He has sown in our hearts from the rocks, birds, weeds
          and thorns that naturally congregate there. It involves a careful watching, a
          diligent yielding and obeying the grace of God, a constant turning and
          submitting to the One who has all power, life, and righteousness, and who works
          these things in man. It involves &ldquo;denying ungodliness and worldly
          lusts,&rdquo;<a href='#sdfootnote19sym' id='sdfootnote19anc'
            ><sup>19</sup>
          </a>&ldquo;fleeing&rdquo;
          <a href='#sdfootnote20sym' id='sdfootnote20anc'><sup>20</sup></a>from
          immorality, idolatry, and greed, quickly submitting to the &ldquo;reproofs of
          correction which are the way of life,&rdquo;<a
            href='#sdfootnote21sym'
            id='sdfootnote21anc'
            ><sup>21</sup>
          </a>&ldquo;resisting the devil,&rdquo;<a
            href='#sdfootnote22sym'
            id='sdfootnote22anc'
            ><sup>22</sup>
          </a>and being faithful &ldquo;stewards of the grace of God,&rdquo;<a
            href='#sdfootnote23sym'
            id='sdfootnote23anc'
            ><sup>23</sup>
          </a>etc. Not one of these verses encourages or requires man to produce a
          spiritual work for God. But all of them imply and demand a carefulness and
          diligence on the part of man to &ldquo;work out our salvation with fear and
          trembling, for it is God at work in us both to will and to work for His good
          pleasure.&rdquo;<a href='#sdfootnote24sym' id='sdfootnote24anc'
            ><sup>24</sup>
          </a>&ldquo;To this end,&rdquo; Paul says, &ldquo;I also <em>labor,</em>
          <em>striving</em>according to His working which works in me mightily.&rdquo;<a
            href='#sdfootnote25sym'
            id='sdfootnote25anc'
            ><sup>25</sup>
          </a>
        </p>
        <p>
          <br />
          <br />
        </p>
        <p><a href='#sdfootnote1anc' id='sdfootnote1sym'>1</a>Romans 8:13</p>
        <p><a href='#sdfootnote2anc' id='sdfootnote2sym'>2</a>Luke 13:24</p>
        <p><a href='#sdfootnote3anc' id='sdfootnote3sym'>3</a>2 Peter 3:14</p>
        <p><a href='#sdfootnote4anc' id='sdfootnote4sym'>4</a>Hebrews 4:11</p>
        <p><a href='#sdfootnote5anc' id='sdfootnote5sym'>5</a>Hebrews 12:4</p>
        <p>
          <a href='#sdfootnote6anc' id='sdfootnote6sym'>6</a>See for example: Rom 12:11, 2
          Cor 7:11, 8:7, 8:22, 2 Tim 2:15, etc.
        </p>
        <p><a href='#sdfootnote7anc' id='sdfootnote7sym'>7</a>Acts 24:16</p>
        <p><a href='#sdfootnote8anc' id='sdfootnote8sym'>8</a>1 Corinthians 9:27</p>
        <p><a href='#sdfootnote9anc' id='sdfootnote9sym'>9</a>Galatians 4:19</p>
        <p>
          <a href='#sdfootnote10anc' id='sdfootnote10sym'>10</a>Matthew 16:24; Mark 8:34;
          Luke 9:23
        </p>
        <p><a href='#sdfootnote11anc' id='sdfootnote11sym'>11</a>See 1 Peter 2:11</p>
        <p><a href='#sdfootnote12anc' id='sdfootnote12sym'>12</a>Acts 7:51</p>
        <p><a href='#sdfootnote13anc' id='sdfootnote13sym'>13</a>Philippians 3:19</p>
        <p><a href='#sdfootnote14anc' id='sdfootnote14sym'>14</a>Romans 8:7</p>
        <p><a href='#sdfootnote15anc' id='sdfootnote15sym'>15</a>Romans 13:14</p>
        <p><a href='#sdfootnote16anc' id='sdfootnote16sym'>16</a>1 John 2:16</p>
        <p><a href='#sdfootnote17anc' id='sdfootnote17sym'>17</a>Hebrews 6:6</p>
        <p><a href='#sdfootnote18anc' id='sdfootnote18sym'>18</a>Galatians 5:17</p>
        <p>
          <a href='#sdfootnote19anc' id='sdfootnote19sym'>19</a>Titus 2:12 &ndash;
          &ldquo;denying ungodliness and worldly lusts.&rdquo;
        </p>
        <p>
          <a href='#sdfootnote20anc' id='sdfootnote20sym'>20</a>1 Corinthians 6:18, 10:14;
          1 Timothy 6:11; 2 Timothy 2:22
        </p>
        <p><a href='#sdfootnote21anc' id='sdfootnote21sym'>21</a>Proverbs 6:23</p>
        <p><a href='#sdfootnote22anc' id='sdfootnote22sym'>22</a>James 4:7</p>
        <p><a href='#sdfootnote23anc' id='sdfootnote23sym'>23</a>1 Peter 4:10</p>
        <p><a href='#sdfootnote24anc' id='sdfootnote24sym'>24</a>Philippians 2:12-13</p>
        <p><a href='#sdfootnote25anc' id='sdfootnote25sym'>25</a>Colossians 1:29</p>
      </div>
    </main>
  </body>
</html>
