---
interface Props {
  img: string;
  description: string;
  url: string;
}

const { url, description, img } = Astro.props as Props;
---

<div class='bg-white flex flex-col rounded-xl shadow-lg'>
  <div class='p-6 pb-3'>
    <img src={img} class='w-48 mb-4' />
    <p class='text-gray-500 mb-3'>{description}</p>
  </div>
  <div class='flex justify-end p-4 bg-slate-50 rounded-b-xl'>
    <a
      class='text-blue-500 hover:text-blue-600 transition duration-100 cursor-pointer'
      href={url}
    >
      Check it out <i class='fa-solid fa-arrow-up-right-from-square ml-2'></i>
    </a>
  </div>
</div>
