---
import BaseHead from './BaseHead.astro';
import NavLink from './NavLink.astro';
import ProfilePic from '../public/profile.jpg';
import Footer from './Footer.astro';
import FloatingNav from './FloatingNav.astro';

interface Props {
  page: string;
}

const { page } = Astro.props as Props;
---

<html lang='en'>
  <head>
    <BaseHead />
  </head>
  <body class='flex flex-col min-h-screen'>
    <header
      class='flex justify-between items-center py-5 px-10 top-0 z-40 backdrop-blur bg-white bg-opacity-20'
    >
      <img src={ProfilePic} class='w-12 h-12 rounded-full shadow-lg' />
      <FloatingNav page={page} />
      <div class='w-10'></div>
    </header>
    <section class='flex-grow'>
      <slot></slot>
    </section>
    <Footer page={page} />
  </body>
</html>
