---
import BaseHead from './BaseHead.astro';
import NavLink from './NavLink.astro';
import ProfilePic from '../public/profile.jpg';

interface Props {
  page: string;
}

const { page } = Astro.props as Props;
---

<html lang='en'>
  <head>
    <BaseHead />
  </head>
  <body class='flex flex-col min-h-screen'>
    <header class='flex justify-between items-center py-5 px-10'>
      <img src={ProfilePic} class='w-12 h-12 rounded-full shadow-lg' />
      <div class='border flex shadow-md rounded-full py-2 px-8 space-x-5'>
        <NavLink to='/' selected={page === '/'}>Home</NavLink>
        <NavLink to='/posts' selected={page === '/posts'}>Posts</NavLink>
        <NavLink to='/teachings' selected={page === '/teachings'}>Teachings</NavLink>
        <NavLink to='/about-me' selected={page === '/about-me'}>About me</NavLink>
        <NavLink to='/contact' selected={page === '/contact'}>Contact</NavLink>
      </div>
      <div class='w-10'></div>
    </header>
    <section class='flex-grow'>
      <slot></slot>
    </section>
    <footer class='px-10 py-6 flex justify-center items-center'>footer</footer>
  </body>
</html>
