---
import NavLink from './NavLink.astro';
import cx from 'classnames';

interface Props {
  page: string;
  className?: string;
}

const { page, className } = Astro.props as Props;
---

<div>
  <nav
    class={cx(
      `border-[0.5px] shadow-md rounded-full py-1 px-8 bg-white relative z-20 flex flex-wrap justify-center`,
      className,
    )}
  >
    <NavLink to='/' selected={page === '/'}>Home</NavLink>
    <NavLink to='/posts' selected={page === '/posts'}>Posts</NavLink>
    <NavLink to='/teachings' selected={page === '/teachings'} isNew>Teachings</NavLink>
    <NavLink to='/about' selected={page === '/about'}>About me</NavLink>
    <NavLink to='/contact' selected={page === '/contact'}>Contact</NavLink>
  </nav>
</div>
