---
export interface Props {
  to: string;
  selected?: boolean;
  isNew?: boolean;
}

const { selected, to, isNew = false } = Astro.props as Props;
---

<a
  href={to}
  class={`${
    selected ? 'text-gray-600' : 'text-gray-400'
  } hover:text-sky-400 transition duration-100 select-none mx-3 my-1 flex items-center`}
>
  <slot></slot>
  {isNew && (
    <span class="text-xs uppercase bg-sky-300 text-white rounded-full px-1 py-0.5 ml-1.5">
      new
    </span>
  )}
</a>
