---
export interface Props {
  to: string;
  selected?: boolean;
  className?: string;
}

const { selected, to, className } = Astro.props as Props;
---

<a
  href={to}
  class={`${
    selected ? 'text-gray-600' : 'text-gray-400'
  } hover:text-sky-400 transition duration-100 select-none mx-3 my-1`}
>
  <slot></slot>
</a>
