---
import { DualPost } from '../types';
import Advertisement from './Advertisement.astro';
import BlogPostPreview from './BlogPostPreview.astro';
import FriendsLibraryLogo from '../public/friends-library-logo.png';
import GertrudeLogo from '../public/gertrude-logo.png';

interface Props {
  posts: DualPost[];
}

const { posts } = Astro.props as Props;
---

<section class='bg-sky-600 flex p-16'>
  <div class='flex-grow'>
    <h1 class='text-4xl text-white font-inter'>Recent posts</h1>
    <div class='mt-8 space-y-6 flex flex-col'>
      {posts.slice(0, 3).map((post) => <BlogPostPreview post={post} />)}
    </div>
  </div>
  <div
    class='shrink-0 flex flex-col border-l-2 border-white border-opacity-20 ml-8 p-8 pr-0 space-y-8 max-w-md'
  >
    <h2 class='text-2xl font-bold text-white mb-4'>
      Some sites and services I recommend:
    </h2>
    <Advertisement
      img={FriendsLibraryLogo}
      description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi voluptate quas, vel ad perferendis quis quibusdam nisi est mollitia ea tempora.'
      url='https://friendslibrary.com'
    />
    <Advertisement
      img={GertrudeLogo}
      description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi voluptate quas, vel ad perferendis quis quibusdam nisi est mollitia ea tempora.'
      url='https://gertrude.app'
    />
  </div>
</section>
